<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- font -->
    <link href='https://fonts.googleapis.com/css?family=IBM Plex Mono' rel='stylesheet'>

    <!-- Bootstrap CSS v5.0.0-beta3-->
    <link rel="stylesheet" href="bootstrap.min.css">

    <!-- mycss -->
    <link rel="stylesheet" href="mycss.css">

    <title>Corretor De Imóveis | Equiplan</title>
    <meta name="description" content="">

    <meta name="keywords" content="">

    <meta name="author" content="Peter Kim">

    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
    
</head>
<body>